venv/
env/
.env
__pycache__/
*.py[cod]
logs/
mlruns/
mlflow.db
.DS_Store
*.egg-info/
.pytest_cache/

artifacts/**/*
!artifacts/**/*.dvc
!artifacts/models/model.joblib
!artifacts/models/preprocessor.joblib
artifacts/models/LightGBM_model.joblib
artifacts/models/XGBoost_model.joblib
artifacts/models/LogisticRegression_model.joblib