version: '3.8'

services:
  app:
    build: .
    container_name: credit-risk-api
    ports:
      - "8000:8000"
    volumes:
      - ./artifacts:/app/artifacts
      - ./mlruns:/app/mlruns
      - ./mlflow.db:/app/mlflow.db
    restart: always

  prometheus:
    image: prom/prometheus:latest
    container_name: ml_monitor
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    restart: always